a
  text-decoration: underline

li p
  margin-bottom: 0

ul
  list-style: none
  margin-left: 0
  padding-left: 1rem
  border-left: 3px solid #ccc

.row-dark
  background: #000
  h1, p
    color: #fff
  iframe
    margin: auto
    display: block

.img-100
  width: 100%
  max-width: 800px
  margin: auto
  display: block

::selection
  color: #fff
  background: #007bff

@media (max-width: 767.98px)
  .text-right
    text-align: left !important