<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tyler Etters — Resume</title>
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png" />
  <link rel="shortcut icon" href="/favicon.ico?v=1" />
  <link rel="mask-icon" href="/mask-icon.svg" color="#ffffff">
  <meta property="og:title" content="Tyler Etters — Resume">
  <meta property="og:site_name" content="Tyler Etters — Resume">
  <meta property="og:url" content="https://tyleretters.com/biolink">
  <meta property="og:description" content="{{ site.tagline }}">
  <meta property="og:type" content="website">
  <meta property="og:image" content="{{ site.url }}/assets/images/tyler-in-maine-2019.jpg">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ "/assets/stylesheets/style.css" | relative_url }}?{{site.time | date: '%s%N'}}">
</head>
<body>
<div class="container">



  <div class="row mb-3 pt-3">
    <div class="offset-md-4 col-md-8">
      <code>v{{ site.time | date: "%y%m%d" }}</code>
      <h1 class="text-muted">Resume</h1>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-4 text-right mb-3">
      <h1 class="display-4 mb-0">Tyler Etters </h1>
      <p class="mb-0"><em>he / they</em></p>
      <p class="mb-0"><a href="mailto:tyler@etters.co/">tyler@etters.co</a></p>
      <p class="mb-0"><a href="https://github.com/tyleretters">github.com/tyleretters</a></p>
      <p class="mb-0"><a href="https://linkedin.com/in/tyleretters">linkedin.com/in/tyleretters</a></p>
    </div>
    <div class="col-md-8">
      <ul>
        <li class="intro">
          <h2>{{ site.tagline }}</h2>
          {{ site.blurb | markdownify }}
        </li>
      </ul>
    </div>
  </div>



  <div class="row mb-3">
    <div class="offset-md-4 col-md-8">
      <h1 class="text-muted">Experience</h1>
    </div>
  </div>
  {% for item in site.data.experience %}
  <div class="row mb-5">
    <div class="col-md-4 text-right mb-3">
      <h2 class="mb-1">{{ item.title }}</h3>
      <em class="text-muted">{{ item.dates }}</em>
    </div>
    <div class="col-md-8">
      <ul>
      {% for seat in item.seats %}
        <li class="mb-3">
          <p><strong>{{ seat.seat }}</strong></p>
          <p><em class="text-muted">{{ seat.years }}</em></p>
          <p>{{ seat.notes | markdownify }}</p>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}



  <div class="row mb-3">
    <div class="offset-md-4 col-md-8">
      <h1 class="text-muted">Capabilities</h1>
    </div>
  </div>
  {% for item in site.data.capabilities %}
  <div class="row mb-5">
    <div class="col-md-4 text-right mb-3">
      <h3 class="mb-1">{{ item.title }}</h3>
      <em class="text-muted">{{ item.dates }}</em>
    </div>
    <div class="col-md-8">
      <ul>
      {% for capability in item.capabilities %}
        <li class="mb-3">
          <p>{{ capability }}</p>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}



  <div class="row mb-3">
    <div class="offset-md-4 col-md-8">
      <h1 class="text-muted">Education</h1>
    </div>
  </div>
  {% for item in site.data.education %}
  <div class="row mb-5">
    <div class="col-md-4 text-right mb-3">
      <h3 class="mb-1">{{ item.title }}</h3>
      <em class="text-muted">{{ item.dates }}</em>
    </div>
    <div class="col-md-8">
      <ul>
      {% for credential in item.credentials %}
        <li class="mb-5">
          <p><strong>{{ credential.credential }}</strong></p>
          <p><em class="text-muted">{{ credential.dates }}</em></p>
          <p>{{ credential.notes | markdownify }}</p>
          {% if credential.authority %}<p>{{ credential.authority }}</p>{% endif %}
          {% if credential.cert %}<p>Cert ID: <code>{{ credential.cert }}</code></p>{% endif %}
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}



  <div class="row">
    <div class="offset-md-4 col-md-8 mb-5">
      <img class="img-fluid" src="assets/images/tyler-in-maine-2019.jpg" />
    </div>
  </div>



</div>
</body>
</html>
