---
permalink: /index.html
eleventyExcludeFromCollections: true
---
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Tyler Etters</title>
<meta http-equiv="refresh" content="0; url=https://nor.the-rn.info/about">
<link rel="canonical" href="https://nor.the-rn.info/about">
</head>
<body>
<p>Redirecting to <a href="https://nor.the-rn.info/about">nor.the-rn.info/about</a>…</p>
</body>
</html>
