---
layout: resume.njk
title: Tyler Etters — Resume
description: Inspire with music. Don't give up. Help others not give up.
ogImage: https://tyleretters.com/assets/images/tyler-in-maine-2019.jpg
permalink: /resume/
---
